#gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr 1fr 1fr;
    gap: 1rem;
}

img{
    width: 100%;
    height: 100%;
}

.img1{
    grid-row:   1/ 3;
    grid-column: 1/3;
}

.img4{
    grid-row:  2/4;
    grid-column: 3/5;
}

.img10{
    grid-row: 1/4;
    grid-column: 5/6;
}

.img7{
    grid-row: 4/6;
    grid-column: 3/5;
}

.img8{
    grid-row: 4/6;
    grid-column: 5/8;
}

.img9{
    grid-row: 4/6;
    grid-column: 1/3;
}

.img11{
    grid-row: 1/4;
    object-fit: cover;
}

.img12{
    grid-row: 1/2;
    object-fit: cover;
}
.img13{
    grid-row: 2/3;
    object-fit: cover;
}


